<h2 class="movie-title">Favourite Movies</h2>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Movie</th>
        <th scope="col">IMBD Score</th>
        <th scope="col">Rotten Tomatoes Score</th>
        <th scope="col">Metacritic</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><a target="_blank" href="https://www.google.com.au/search?q=v+for+vendetta&oq=v+for+&aqs=chrome.0.0j69i57j69i60l3j0.2688j0j7&sourceid=chrome&ie=UTF-8">V for Vendetta</a></td>
        <td><a target="_blank" href="https://www.imdb.com/title/tt0434409/?ref_=nv_sr_1">8.2</a></td>
        <td><a target="_blank" href="https://www.rottentomatoes.com/m/v_for_vendetta">73%</a></td>
        <td><a target="_blank" href="https://www.metacritic.com/movie/v-for-vendetta">62</a></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td><a target="_blank" href="https://www.google.com.au/search?ei=KaCcW-fNOZOU8AOI-KjYCQ&q=snowpiercer&oq=Snow&gs_l=psy-ab.3.0.0i67k1l9j0i131k1.410315.412463.0.413302.6.5.1.0.0.0.332.582.2-1j1.2.0....0...1c.1.64.psy-ab..3.3.584...0j0i10i67k1.0.v7mDqEuVtLY">Snowpiercer</a></td>
        <td><a target="_blank" href="https://www.imdb.com/title/tt1706620/?ref_=fn_al_tt_1">7.0</a></td>
        <td><a target="_blank" href="https://www.rottentomatoes.com/m/snowpiercer">94%</a></td>
        <td><a target="_blank" href="https://www.metacritic.com/movie/snowpiercer">84</a></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td><a target="_blank" href="https://www.google.com.au/search?hl=en-AU&ei=yKGcW7aIHYnBjwT-upzoCQ&q=the+orphanage&oq=the+orphanage&gs_l=psy-ab.3..0i131k1j0l9.229702.232411.0.232555.13.10.0.0.0.0.558.1845.2-2j1j1j1.5.0....0...1c.1.64.psy-ab..8.5.1844....0.nH5c4zYRGcI">The Orphanage</a></td>
        <td><a target="_blank" href="https://www.imdb.com/title/tt0464141/?ref_=fn_al_tt_1">7.5</a></td>
        <td><a target="_blank" href="https://www.rottentomatoes.com/m/the_orphanage">87%</a></td>
        <td><a target="_blank" href="https://www.metacritic.com/movie/the-orphanage">74</a></td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td><a target="_blank" href="https://www.google.com.au/search?hl=en-AU&ei=tKKcW9mbNoyq8QWGnbn4DA&q=Stardust&oq=Stardust&gs_l=psy-ab.3..0l10.112737.114529.0.114673.8.7.0.0.0.0.329.561.2-1j1.2.0....0...1c.1.64.psy-ab..6.2.561...0i67k1j0i131k1.0.YYh6wTDHonY">Stardust</a></td>
        <td><a target="_blank" href="https://www.imdb.com/title/tt0486655/?ref_=fn_al_tt_1">7.7</a></td>
        <td><a target="_blank" href="https://www.rottentomatoes.com/m/stardust">76%</a></td>
        <td><a target="_blank" href="https://www.metacritic.com/movie/stardust">66</a></td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td><a target="_blank" href="https://www.google.com.au/search?hl=en-AU&ei=haOcW8niHoKW8gWP-LXYBA&q=Superbad&oq=Superbad&gs_l=psy-ab.3..0i67k1l3j0l7.936.2386.0.3230.4.4.0.0.0.0.489.846.3-1j1.2.0....0...1c.1.64.psy-ab..2.2.846...0i13k1.0._28En3ZDuiU">Superbad</a></td>
        <td><a target="_blank" href="https://www.imdb.com/title/tt0829482/?ref_=fn_al_tt_1">7.6</a></td>
        <td><a target="_blank" href="https://www.rottentomatoes.com/m/superbad">87%</a></td>
        <td><a target="_blank" href="https://www.metacritic.com/movie/superbad">76</a></td>
      </tr>
    </tbody>
  </table>
